@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: rgba(138, 195, 219, 0.492);
}

header {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #220bd6dc;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #1f0ac16d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #1555c48e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
} 
header > img {
    margin-left: 5%;
}

header > p {
    font-family: 'Kaushan Script', sans-serif;
    color: whitesmoke;
    font-size: 40px;
    margin-left: 10px;
}

#downloadSection {
    display: flex;
    justify-content: center;
}
#btnDownloadMeme {
    font-family: 'Kaushan Script', sans-serif;
    margin: 5px 0px 10px 0px;
    width: 300px;
    height: 50px;
    font-size: 25px;
    letter-spacing: 2px;
    color: #2a0845;
    /* background: #2a0845; */
    background: white;
    border: none;
    border-top: 2px solid #2a0845;
    border-bottom: 2px solid #2a0845;
    outline: none;
    /* border: 2px solid rgb(236, 233, 229); */
    border-radius: 20px;
}

.meme {
    position: relative;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.meme > img {
    width: 100%;
}

.meme > h2 {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2.5em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.meme > .bottom {
    bottom: 0;
}

.meme > .top {
    top: 0;
}

.meme-form {
    width: 90%;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.meme-form > input {
    width: 45%;
    height: 40px;
    outline: none;
    /* border: #2a0845; */
    border: none;
    border-bottom: 5px solid #2a0845;
    border-radius: 25px;
    padding: 5px;
}

.meme-form > button {
    font-family: 'Kaushan Script', sans-serif;
    width: 120px;
    margin-left: 5px;
    font-size: 25px;
    letter-spacing: 1.5px;
    background: white;
    color: #2a0845;
    /* border: none; */
    border-top: 2px solid #2a0845;
    border-bottom: 2px solid #2a0845;
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 15px;
}
.meme-form > input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}
.meme-form > input::-moz-placeholder { /* Firefox 19+ */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}
.meme-form > input:-ms-input-placeholder { /* IE 10+ */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}
.meme-form > input:-moz-placeholder { /* Firefox 18- */
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen
}